*{
  padding: 0;
  margin: 0;
}
body{
  text-align: center;
}
.head{
  color: red;
  margin: auto;
  margin-top: 40px;
  background-color: aqua;
  max-width: max-content;
  font-size: larger;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  padding: 10px;
}
.watch{
  color: blue;
  font-size: 4em;
}
#rootin{
  background-color: rgb(255, 222, 103); 
  width: max-content;
  margin: auto;
  padding: 15px;
  border-radius: 20px;
  
}

.btns{
  display: flex;
  justify-content: space-around;
}
.btn{
  padding: 4px;
  width: 60px;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btn:hover{
   color: black;
   background-color: white;
}
#laps{
  color:black;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 15px 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  text-align: center;
  width: max-content;
  background-color: rgba(12, 237, 151, 0.733);
  
}
#dis{
  display: none;
}